*{
    margin:0px;
    padding:0px;
}

body{
    font-family: "Poppins", sans-serif;
    background: rgba(26, 29, 44, 0.666); /* Semi-transparent background */
    backdrop-filter: blur(19px);
}

.container{
    height:400px;
    width:45%;
    display:flex;
    flex-direction: column;
    margin:4rem 0 0 27rem;
    background-color: #ecf0f1;
    border-radius: 7px;}

.container-slider{
    height:570px;
}
h1{
    margin:1.5rem 0 0 1rem;
    color:#192a56;   
}
h4{
    margin:1.5rem 0 0 1rem;
    color:#535c68;  
}

label{
   margin:1rem 0 0.4rem 1rem; 
   font-size: 17px;
   color:#192a56
}
input{
    margin-left:1rem;
    width:87%;
    padding:12px;
}
.last-info{
    margin:1.7rem 0 0 1rem;
}
.last-info button{
    padding:1rem;
    border-radius: 7px;
    border:none;
    background-color:#192a56;
    color:#ecf0f1;
    font-size: 15px;
}
.last-info a{
    margin-left:1.2rem;
    text-decoration: none;
    color:#535c68;
    font-weight: bold;
}

.password-details{
    border:1px solid #7f8c8d;
    background-color: #ecf0f1;
    margin: 1rem 0 1rem 1rem;
    opacity:0;
    visibility: hidden; /* Not visible in layout */
    position: absolute;
}
.password-details-slider{
    opacity:1;
    height:175px;
    width:75%;
    position: relative; /* Or absolute, fixed, etc., depending on layout */
    visibility: visible; /* Visible in layout */
}

.password-intro{
    display:flex;
    margin: 0rem 0 0 0.8rem;
}

.password-intro .bulb{
    margin:0.2rem 0.5rem 0 0;
    color:#192a56;
}
.password-intro h4{
    color:#192a56;
}

.password-rules{
    margin:0.5rem 0 0 3rem;
}
.password-rules span{
    color:#d63031;
    font-weight: 600;
}
.password-rules li{
    margin-bottom:0.3rem;
}





